<section class="content">
    <div class="container">
        <h1 class="text-primary">Detección de plagas mediante I.A</h1>
        <h2 class="title">Plagas por Patógenos</h2>
        <div>
            <div class="row">
              <div class="col ">
                <div class="container my-5">
                    <div class="row g-4">
                        <!-- Card 1 -->
                        <div class="col-md-6">
                            <div class="card">
                                <img src="dist/img/hoja.png" alt="Imagen Card 1" class="card-img-top">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Odium</h5>
                                    <p class="card-text"></p>
                                    <button type="button" class="btn btn-ver-mas" data-bs-toggle="modal" data-bs-target="#modal1">Ver más</button>
                                </div>
                            </div>
                        </div>
                
                        <!-- Card 2 -->
                        <div class="col-md-6">
                            <div class="card">
                                <img src="dist/img/mango-plaga.png" alt="Imagen Card 2" class="card-img-top">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Colletotrichum</h5>
                                    <p class="card-text"></p>
                                    <button type="button" class="btn btn-ver-mas" data-bs-toggle="modal" data-bs-target="#modal2">Ver más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col">
                El cultivo de mango enfrenta plagas importantes como el Oidium y el Colletotrichum,
                 que dañan inflorescencias y frutos bajo condiciones de humedad. La mosca de la fruta,
                  trips, queresas y arañita roja también afectan la calidad del mango, causando pudrición 
                  o deformaciones en los frutos, especialmente en condiciones de calor o mal manejo.
              </div>
            </div>
          </div>
    </div>  
</section>
<section class="container arriba"> 
    <h2 class="title">Plagas por Artrópodos</h2>
    <div class="row g-4">
        <!-- Card 1 -->
        <div class="col-md-3">
            <div class="card">
                <img src="dist/img/mosca.png" alt="Imagen Card 1" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Mosca de la fruta</h5>
                    <p class="card-text"></p>
                    <button type="button" class="btn btn-ver-mas" data-bs-toggle="modal" data-bs-target="#modal3">Ver más</button>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-3">
            <div class="card">
                <img src="dist/img/tips.png" alt="Imagen Card 2" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Trips</h5>
                    <p class="card-text"></p>
                    <button type="button" class="btn btn-ver-mas" data-bs-toggle="modal" data-bs-target="#modal4">Ver más</button>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-3">
            <div class="card">
                <img src="dist/img/que.png" alt="Imagen Card 3" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Queresas</h5>
                    <p class="card-text"></p>
                    <button type="button" class="btn btn-ver-mas" data-bs-toggle="modal" data-bs-target="#modal5">Ver más</button>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-3">
            <div class="card">
                <img src="dist/img/colecteros.png" alt="Imagen Card 4" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Coleópteros</h5>
                    <p class="card-text"></p>
                    <button type="button" class="btn btn-ver-mas" data-bs-toggle="modal" data-bs-target="#modal6">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container arriba"> 
    <h2 class="title">Plagas por Artrópodos</h2>
    <div class="row g-4">
        <!-- Card 1 -->
        <div class="col-md-3">
            <div class="card">
                <img src="dist/img/araña.png" alt="Imagen Card 1" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Arañita Roja</h5>
                    <p class="card-text"></p>
                    <button type="button" class="btn btn-ver-mas" data-bs-toggle="modal" data-bs-target="#modal7">Ver más</button>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-3">
            <div class="card">
                <img src="dist/img/hormiga.png" alt="Imagen Card 2" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Hormiga</h5>
                    <p class="card-text"></p>
                    <button type="button" class="btn btn-ver-mas" data-bs-toggle="modal" data-bs-target="#modal8">Ver más</button>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <h1 class="text-primary">Detección de plagas con I.A</h1>
    <div class="container">
        <form>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-camera"></i>
                </span>
                <input type="file" class="form-control" id="fileInput" aria-label="Subir archivo">
                <button type="button" class="btn btn-primary">Analizar</button>
            </div>
        </form>
    </div>
</section>
  

<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Detalles Card 1</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Contenido adicional sobre la Card 1.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2Label">Detalles Card 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Contenido adicional sobre la Card 2.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Detalles Card 1</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Contenido adicional sobre la Card 1.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2Label">Detalles Card 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Contenido adicional sobre la Card 2.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal3Label">Detalles Card 3</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Contenido adicional sobre la Card 3.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Detalles Card 4</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Contenido adicional sobre la Card 4.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal7" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal3Label">Detalles Card 3</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Contenido adicional sobre la Card 3.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal8" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Detalles Card 4</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Contenido adicional sobre la Card 4.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
  <!-- ------------------------------------------------------------------------------- -->
  
 