<div class="container">
    <div class="row">
      <div class="col-6 ">
        <div class="clearfix my-5">
                <h2>Agricultura de Precisión: </h2>
                <h2>¿qué significa?</h2>
          
            <p>
                La agricultura de precisión es una metodología que busca optimizar la producción agrícola a 
                través de la gestión de datos y tecnologías avanzadas. En lugar de aplicar tratamientos 
                uniformes en todo el campo, esta técnica se enfoca en identificar las variaciones 
                específicas de cada parcela y aplicar los recursos (agua, fertilizantes, pesticidas) 
                de manera precisa y personalizada, por lo que podemos afirmar que el concepto sobre el 
                que se basa la agricultura de precisión es aplicar la cantidad correcta de insumos, en 
                el momento adecuado y en el lugar exacto.
            </p>

            <h2>Herramientas de agricultura de precisión </h2>
            
          
            <p>
                La tecnología ha transformado la forma en que tomamos decisiones en la agricultura. 
                Hoy en día, los agricultores tienen acceso a una gran cantidad de herramientas que 
                les permiten analizar el estado de sus cultivos en tiempo real. Con esta información, 
                pueden anticiparse a posibles problemas y tomar medidas correctivas de manera oportuna,
                asegurando así una producción más estable y rentable.  Desde un punto de vista agricola, 
                las herramientas más conocidas y utilizadas son:
            </p>
          
            <p>
                Instrumentos de control: Los sensores de humedad del suelo, sondas de temperatura, 
                cámaras multiespectrales y sistemas de monitoreo de plagas y enfermedades.
                 Estos instrumentos proporcionan datos precisos y actualizados sobre las condiciones del campo, 
                 lo que permite a los agricultores tomar decisiones más informadas.
            </p>
          </div>
      </div>
      <div class="col-6 my-5">
        <p>
            Herramientas de predicción. Los modelos de simulación son una herramienta fundamental para predecir el crecimiento de los cultivos, la incidencia de plagas y enfermedades, y la respuesta de los cultivos a diferentes tratamientos. Estos modelos se basan en datos históricos y en las condiciones climáticas actuales.
Herramientas de decisión y prescripción: Los sistemas de soporte a la decisión (DSS) no solo comparan datos, sino que también utilizan algoritmos de inteligencia artificial para recomendar las mejores prácticas de manejo. Estos sistemas pueden generar mapas de prescripción muy detallados, indicando la cantidad exacta de fertilizante, agua o pesticida que se debe aplicar en cada punto del campo.
Sistemas de implementación: Los sistemas de agricultura de precisión permiten automatizar muchas de las tareas agrícolas, como la siembra, la fertilización y la aplicación de pesticidas. Los robots agrícolas y los vehículos autónomos están cada vez más presentes en los campos, aumentando la eficiencia y reduciendo los costos de producción.
Sistemas de trazabilidad: La tecnología blockchain ofrece una solución segura y transparente para rastrear el origen y el recorrido de los alimentos, desde la granja hasta el consumidor. Esta información es cada vez más demandada por los consumidores, quienes buscan productos seguros y de alta calidad.
        </p>
      </div>
    </div>
  </div>