section{
    margin: 0;
    padding: 0;
    background-image: url('/dist/img/fondo4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.card{
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.82);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.7px);
-webkit-backdrop-filter: blur(3.7px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
@media only screen and (max-width: 800px) {
    section {
        background: transparent !important;
    }
  }
