.btn-get-started{
    background-color: rgb(57 169 0);
}
.btn-get-started:hover{
    background-color: rgb(57 169 0);
}

.fuerte{
    color:#39a900 !important;
    font-weight: bold;
    font-size: 30px;    
}
div ul li a{
  font-size: 20px;
  color: #012970;
}

div ul li a:hover{
  
  color: #4154f1;
}

.brand{
    font-size: 30px;
}
.pp{
    font-weight: bold;
    font-size: 25px;
}
.img-fluid{
    border-radius: 50%;
}
.boto{
    background-color: #39a900 !important;
}
.bi{
    color: #fff !important;
}
.btn-read-more{
    background-color: #39a900 !important;
}

.sub {
    display: block;
    font-size: 0.6rem; /* Ajusta el tamaño de letra si lo prefieres */
    margin-top: 36px;   /* Espacio entre "Keitt Web" y "Guía metodológica" */
    color: #666666;    /* Cambia el color si es necesario */
    margin-left: -110px;
}
.brand-link{
    background-color: transparent !important;
    height: 65px;
}
.lead{
    font-size: 20px;
}
.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace que el ícono esté dentro de un círculo */
    background-color: #f0f0f0; /* Color de fondo del círculo */
    text-align: center;
    line-height: 50px; /* Alinea verticalmente el ícono */
    transition: background-color 0.3s;
  }
  
  .social-icon i {
    color: green; /* Color verde para los iconos */
    font-size: 24px; /* Tamaño del icono */
  }
  
  .social-icon:hover {
    background-color: #e0e0e0; /* Cambio de color del círculo al pasar el mouse */
  }
      
  .slider {
	width: 100%;
}
.slider input {
	display: none;
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 350px;
	perspective: 1000px;
	overflow: hidden;
}
.testimonials .item {
	width: 450px;
	padding: 30px;
	border-radius: 5px;
	background-color: #eeeff3;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	text-align: center;
	transition: transform 0.4s;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}
.testimonials .item img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid #3B344D;
}
.testimonials .item p {
	color: #000;
}
.testimonials .item h2 {
	font-size: 14px;
}
.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots label {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition-duration: 0.2s;
}

#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"],
#t-6:checked ~ .dots label[for="t-6"],
#t-7:checked ~ .dots label[for="t-7"] {
  transform: scale(2);
  background-color: #fff;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"],
#t-6:checked ~ .dots label[for="t-5"],
#t-7:checked ~ .dots label[for="t-6"],
#t-7:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(1200px, 0, -360px) rotateY(-45deg);
}

#t-1:checked ~ .testimonials label[for="t-4"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-3:checked ~ .testimonials label[for="t-6"],
#t-4:checked ~ .testimonials label[for="t-7"] {
  transform: translate3d(900px, 0, -270px) rotateY(-35deg);
  z-index: 1;
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-6"],
#t-5:checked ~ .testimonials label[for="t-7"] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-6"],
#t-6:checked ~ .testimonials label[for="t-7"] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-6:checked ~ .testimonials label[for="t-5"],
#t-7:checked ~ .testimonials label[for="t-6"] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-6:checked ~ .testimonials label[for="t-4"],
#t-7:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#t-5:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-6:checked ~ .testimonials label[for="t-3"],
#t-7:checked ~ .testimonials label[for="t-4"] {
  transform: translate3d(-900px, 0, -270px) rotateY(35deg);
}

#t-5:checked ~ .testimonials label[for="t-1"],
#t-6:checked ~ .testimonials label[for="t-2"],
#t-7:checked ~ .testimonials label[for="t-3"] {
  transform: translate3d(-1200px, 0, -360px) rotateY(45deg);
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"],
#t-6:checked ~ .testimonials label[for="t-6"],
#t-7:checked ~ .testimonials label[for="t-7"] {
  z-index: 4;
}
