<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="index.html" class="logo d-flex align-items-center me-auto">
      <img id="foto" src="dist/img/icono.png" alt="foto" class="brand-image" width="100" height="100" />
      <span class="brand-text font-weight-light" style="font-size: 25px;">
        <b class="fuerte">Keitt</b>
        <b style="color: #ed9124; font-weight: bold;">Web</b>
      </span>
      <span class="brand-text font-weight-light sub">
        <b>Guía metodológica</b>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Precio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#developers">Desarrolladores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ayuda">Ayuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registro">Registrate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 >Transforma tu Cultivo de
              Mango con Nuestra Guía
              Interactiva</h1>
            <p >Descubre cómo la agricultura de precisión puede aumentar tu producción,
              optimizar recursos y mejorar la calidad de tus mangos. ¡Empieza hoy y lleva
              tu cultivo al siguiente nivel!</p>
            <div class="d-flex flex-column flex-md-row"  >
              <a [routerLink]="['/login']" class="btn-get-started">¡Empieza ya!<i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" >
            <img src="dist/img/img.png" class="img-fluid animated" alt="" width="700">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <section id="stats" class="stats section">

      <div class="container" >

        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-6">
            <div class=" d-flex align-items-center w-100 h-100">
              <img id="foto" src="dist/img/user2.png" alt="foto" width="100" height="100" class="brand-image "/>
              <div>
                <p class="pp">90 +</p>
                <p class="pp">Usuarios</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class=" d-flex align-items-center w-100 h-100">
              <img id="foto" src="dist/img/siembra.png" alt="foto"  width="100" height="100" class="brand-image "/>
              <div>
                <p class="pp">+ 3</p>
                <p class="pp">Tipos de siembra</p>
              </div>
            </div>
          </div><!-- End Stats Item -->


        </div>

      </div>

    </section><!-- /Stats Section -->    

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" >
        <div class="row gx-0">

          <div class="col-lg-6 d-flex align-items-center"  >
            <img src="dist/img/img2.png" class="img-fluid" alt="" width="500" >
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center"  >
            <div class="content">
              
              <h2>Maximiza tu Cosecha de Mango
                con Agricultura de Precisión</h2>
              <p>
                Conoce las herramientas adecuadas para cada etapa de tu cultivo
              </p>
              <p>
                🟢 Herramientas de análisis de datos para predecir rendimientos y planificar cosechas.
              </p>
              <p>
                🟢 Escoge un tipo de mercado y conoce las herramientas que se adecuan a tu cultivo
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center" >
                  <span >Saber más</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>        

        </div>
      </div>

    </section><!-- /About Section -->


   <!-- Pricing Section -->
    <section id="pricing" class="pricing section">
      <!-- Section Title -->
      <div class="container section-title" >
        <div class="container py-5">
          <div class="text-center pricing-header">
              <h1 class="display-4">Empieza Hoy: Obtén tu Guía
                Interactiva</h1>
              <p class="lead">Accede a todos nuestros recursos de forma gratuita.</p>
          </div>
  
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center py-5 justify-content-center">
              <!-- Basic Plan -->
              <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="card-header py-3">
                        <img src="dist/img/img3.png" alt="">
                        <h1 class="card-title fuerte align-items-center" >Plan cultivos de mango</h1>
                        <div class="card-body">                          
                          <ul class="list-unstyled mt-3 mb-4">
                            <br>
                              <li>✅ Interpretacion de análisis de suelo ilimitados</li>
                              <li>✅ Planeación de siembra</li>
                              <li>✅ Recomendaciones personalizadas</li>
                          </ul>
                          <a type="button" [routerLink]="['/login']" class="w-100 btn btn-lg btn-get-started" style="color: #fff;">¡Empieza ya!</a>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div><!-- End Section Title -->
    </section><!-- /Pricing Section -->

    <section id="" class="pricing section" style="margin-top: -250px;">
      <!-- Section Title -->
      <div class="container section-title" >
        <div class="container py-5">
          <div class="text-center pricing-header">
              <h1 class="display-4">Accede desde cualquier lugar del mundo</h1>
              <p class="lead">Las buenas practicas estan en tus manos ¿Que esperas?, 
                ¡Inicia ya!</p>
          </div>
  
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center py-5 justify-content-center">
            
                        <img src="dist/img/img4.png" class="img-fluid" alt="" style="width: 80%;">
                       
                      </div>
                  </div>
              </div>
        
    
    </section><!-- /Pricing Section -->

        <!-- Values Section -->
        <section id="developers" class="values section" style="margin-top:-250px;">

          <!-- Section Title -->
          <div class="container section-title" >
            <p>Developers<br></p>
          </div><!-- End Section Title -->
    
          <div class="container">

            <div class="slider">
              <input type="radio" name="testimonial" id="t-1">
              <input type="radio" name="testimonial" id="t-2">
              <input type="radio" name="testimonial" id="t-3" checked>
              <input type="radio" name="testimonial" id="t-4">
              <input type="radio" name="testimonial" id="t-5">
              <input type="radio" name="testimonial" id="t-6">
              <input type="radio" name="testimonial" id="t-7">
              <div class="testimonials">
                <label class="item" for="t-7">
                  <img src="dist/img/dayana.png" alt="picture">
                  <p>Dayana fonseca </p>
                  <h2>Contrato de aprendizaje </h2>
                </label>
                <label class="item" for="t-1">
                  <img src="dist/img/gixeica.png" alt="picture">
                  <p>Gixeika Andrea Vega Diaz </p>
                  <h2>Monitoria </h2>
                </label>
                <label class="item" for="t-2">
                  <img src="dist/img/jhonatan.png" alt="picture">
                  <p>Jhonatan Samuel Velasco Dangond  </p>
                  <h2>Monitoria</h2>
                </label>
                <label class="item" for="t-3">
                  <img src="dist/img/julian.jpeg" alt="picture">
                  <p>Julián Ernesto Trespalacios Torres   
                  </p>
                  <h2>Instructor Investigador</h2>
                </label>
                <label class="item" for="t-4">
                  <img src="dist/img/angel.jpeg" alt="picture">
                  <p> Ángel David Vásquez Pedrozo </p>
                  <h2>Contrato de aprendizaje</h2>
                </label>
                <label class="item" for="t-5">
                  <img src="dist/img/edgardo.png" alt="picture">
                  <p>Edgardo José Montaño Araque </p>
                  <h2>Investigador Junior </h2>
                </label>
                <label class="item" for="t-6">
                  <img src="dist/img/jesus.jpeg" alt="picture">
                  <p>Jesús David Aguilar López </p>
                  <h2>Semillero de investigación </h2>
                </label>
              </div>
              <div class="dots">
                <label for="t-1"></label>
                <label for="t-2"></label>
                <label for="t-3"></label>
                <label for="t-4"></label>
                <label for="t-5"></label>
                <label for="t-6"></label>
                <label for="t-7"></label>
              </div>
            </div>
           
    
          </div>
    
        </section><!-- /Values Section -->
  </main>

  <footer id="footer" class="footer">

    <div class="footer-newsletter" id="ayuda">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>¡Subscríbete para empezar hoy mismo!</h4>
            <p>El conocimiento ahora está en tus manos, ¡ Inicia ya !</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email" placeholder="Email"><input style="background-color: #39a900;" type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img id="foto" src="dist/img/icono.png" alt="foto" class="brand-image"  width="100" height="100"/>
            <span class="brand-text font-weight-light" style="font-size: 25px;">
              <b class="fuerte">Keitt</b>
              <b style="color: #ed9124; font-weight: bold;">Web</b>
            </span>
            <span class="brand-text font-weight-light sub">
              <b>Guía metodológica</b>
            </span>
          </a>
          <div class="footer-contact pt-3">
            <p>KeittWeb es una web interactiva....</p>
          </div>

          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="" target="_blank" class="text-decoration-none social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="" target="_blank" class="text-decoration-none social-icon">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="" target="_blank" class="text-decoration-none social-icon">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul> 
         
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Contactanos</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Sitio Web</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Beneficios</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Dónde nos encontramos</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Sé nuestro aliado</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Donaciones</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">KeittWeb Guia Interactiva</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
