<section class="content">
    <div class="container-fluid">

        
    <div class="row">
        <h1 class="titulo">Suelo y nitrientes </h1>
        <div class="col-md-12 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <div class="card-body">
                <h2>Suelo</h2>
                <p class="justify-content">
                    Para el cultivo de mango, los suelos más aptos son aquellos que son profundos y bien drenados

                    estos tipos  de suelos son ideales para el cultivo de mango debido a su balance entre retención de agua y nutrientes, y sus capacidades de drenaje.
                    
                </p>
                <a href="#" class="btn" style="background-color: #39a900; color: #fff;">Has tu Analisis</a>

                    <div  class="justify-content-center my-5 centrar">
                        <h4>Recomendaciones</h4>
                        <h5>Tecnica de calicata</h5>
                        <img id="foto" src="dist/img/calicata.jpeg" alt="foto" class="foto" />
                    </div>
 
                
            </div>
        </div>
        <div class="col-md-12 col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <div class="row align-items-start">
                <div class="col">
                  <h4>Franco</h4>
                  <img id="foto" src="dist/img/franco.jpeg" alt="foto" class="foto" />
                    <ul>
                        <li>40% arena</li>
                        <li>40% limo</li>
                        <li>20% arcilla</li>
                    </ul>
                </div>
                <div class="col">
                  <h4>Franco Arenoso</h4>
                  <img id="foto" src="dist/img/francoarenoso.jpeg" alt="foto" class="foto" />
                  <ul>
                    <li>70% arena</li>
                    <li>20% limo</li>
                    <li>10% arcilla</li>
                </ul>
                </div>
                <div class="col">
                  <h4>Franco Arcilloso</h4>
                  <img id="foto" src="dist/img/francoarcilloso.jpeg" alt="foto" class="foto" />
                  <ul>
                    <li>30% arena</li>
                    <li>30% limo</li>
                    <li>40% arcilla</li>
                </ul>
                </div>
                <br>
              </div>

              <div class="row align-items">
                <div class="col justify-content-center">
                    <h4 >Nutrientes</h4>
                    <p>Para un crecimiento saludable y óptimo de frutos, los mangos requieren una serie de nutrientes que se detallan a continuacion:</p>
                </div>
                <div class="row align-items-start">
                    <div class="col">
                      <h4>Macronutrientes</h4>
                        <ul>
                            <li>Fósforeo</li>
                            <li>Nitrogeno</li>
                            <li>Potasio</li>
                        </ul>
                    </div>
                    <div class="col">
                      <h4>Secundarios</h4>
                      <ul>
                        <li>Sulfuro</li>
                        <li>Calcio</li>
                        <li>Magnesio</li>
                    </ul>
                    </div>
                    <div class="col">
                      <h4>Micronutrientes</h4>
                      
                      <ul>
                        <li>Hierro</li>
                        <li>Magnesio</li>
                        <li>Zinc</li>
                        <li>Cobre</li>
                        <li>Molidebno</li>
                        <li>Boro</li>
                    </ul>
                    </div>
                  </div>
              </div>
        </div>  

    </div>
    
    </div>
    
    <div class="card">
        <div class="card-header">
          <h1 class="card-title">Detalles del Suelo</h1>
          <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
          <div class="input-group-append">
          <button type="submit" class="btn btn-default">
          <i class="fas fa-search"></i>
          </button>
          </div>
          </div>
          </div>
          </div>
        
        <div class="card-body">
        <table class="table table-bordered">
        <thead>
        <tr>
        <th>Tipo Suelo</th>
        <th>Variedad recomendada</th>
        <th>Arboles/Ha</th>
        <th>Tipo de siembra - recomendada</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Franco Arenoso</td>
        <td>Mango keitt</td>
        <td>200</td>
        <td><img  src="dist/img/cosecha.png" class="img-fluid justify-content-center" alt="" width="50px" ></td>
       
        </tbody>
        </table>
        </div>
        
        </div>




</section>