<section class="content">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-primary">Suelo y nutrientes</h1>
      <div
        class="col-md-12 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <div class="card-body">
          <h2 class="title">Suelo</h2>
          <p class="justify-content">
            Para el cultivo de mango, los suelos más aptos son aquellos que son
            profundos y bien drenados estos tipos de suelos son ideales para el
            cultivo de mango debido a su balance entre retención de agua y
            nutrientes, y sus capacidades de drenaje.
          </p>
          <a
            href="#"
            class="btn"
            style="background-color: #39a900; color: #fff"
            data-toggle="modal"
            data-target="#myModal"
            >Haz tu Análisis</a
          >

          <div class="justify-content-center my-5 centrar">
            <h4 class="title">Recomendaciones</h4>
            <h5 class="title2">Tecnica de calicata</h5>
            <img
              id="foto"
              src="dist/img/calicata.jpeg"
              alt="foto"
              class="foto"
            />
          </div>
        </div>
      </div>
      <div
        class="col-md-12 col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <div class="row align-items-start">
          <div class="col">
            <h4 class="title">Franco</h4>
            <img id="foto" src="dist/img/franco.jpeg" alt="foto" class="foto" />
            <ul>
              <li>40% arena</li>
              <li>40% limo</li>
              <li>20% arcilla</li>
            </ul>
          </div>
          <div class="col">
            <h4 class="title">Franco Arenoso</h4>
            <img
              id="foto"
              src="dist/img/francoarenoso.jpeg"
              alt="foto"
              class="foto"
            />
            <ul>
              <li>70% arena</li>
              <li>20% limo</li>
              <li>10% arcilla</li>
            </ul>
          </div>
          <div class="col">
            <h4 class="title">Franco Arcilloso</h4>
            <img
              id="foto"
              src="dist/img/francoarcilloso.jpeg"
              alt="foto"
              class="foto"
            />
            <ul>
              <li>30% arena</li>
              <li>30% limo</li>
              <li>40% arcilla</li>
            </ul>
          </div>
          <br />
        </div>

        <div class="row align-items">
          <div class="col justify-content-center">
            <h4 class="title">Nutrientes</h4>
            <p>
              Para un crecimiento saludable y óptimo de frutos, los mangos
              requieren una serie de nutrientes que se detallan a continuacion:
            </p>
          </div>
          <div class="row align-items-start">
            <div class="col">
              <h4 class="title2">Macronutrientes</h4>
              <ul>
                <li>Fósforeo</li>
                <li>Nitrogeno</li>
                <li>Potasio</li>
              </ul>
            </div>
            <div class="col">
              <h4 class="title2">Secundarios</h4>
              <ul>
                <li>Sulfuro</li>
                <li>Calcio</li>
                <li>Magnesio</li>
              </ul>
            </div>
            <div class="col">
              <h4 class="title2">Micronutrientes</h4>

              <ul>
                <li>Hierro</li>
                <li>Magnesio</li>
                <li>Zinc</li>
                <li>Cobre</li>
                <li>Molidebno</li>
                <li>Boro</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Detalles del Suelo</h1>
      <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 150px">
          <input
            type="text"
            name="table_search"
            class="form-control float-right"
            placeholder="Search"
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-default">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tipo Suelo</th>
            <th>Variedad recomendada</th>
            <th>Arboles/Ha</th>
            <th>Tipo de siembra - recomendada</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Franco Arenoso</td>
            <td>Mango keitt</td>
            <td>200</td>
            <td>
              <img
                src="dist/img/cosecha.png"
                class="img-fluid justify-content-center"
                alt=""
                width="50px"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<div
  class="modal"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content custom-modal-content">
      <div class="modal-header">
        <h5 class="titulo" id="myModalLabel">Análisis de cultivo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
            <div class="container">
              <div class="row">
                <!-- Primer grupo de inputs -->
                <div class="col-3">
                  <label for="N_NH4">N-NH4</label>
                  <input
                    type="text"
                    id="N_NH4"
                    formControlName="nh4"
                    class="form-control"
                    placeholder="N-NH4"
                  />
                </div>
                <div class="col-3">
                  <label for="N_NO3">N-NO3</label>
                  <input
                    type="text"
                    id="N_NO3"
                    formControlName="nh3"
                    class="form-control"
                    placeholder="N-NO3"
                  />
                </div>
                <div class="col-3">
                  <label for="Potasio">Potasio</label>
                  <input
                    type="text"
                    id="Potasio"
                    formControlName="potassium"
                    class="form-control"
                    placeholder="Potasio"
                  />
                </div>
                <div class="col-3">
                  <label for="Calcio">Calcio</label>
                  <input
                    type="text"
                    id="Calcio"
                    formControlName="calcium"
                    class="form-control"
                    placeholder="Calcio"
                  />
                </div>

                <!-- Segundo grupo de inputs -->
                <div class="col-3">
                  <label for="Magnesio">Magnesio</label>
                  <input
                    type="text"
                    id="Magnesio"
                    formControlName="magnesium"
                    class="form-control"
                    placeholder="Magnesio"
                  />
                </div>
                <div class="col-3">
                  <label for="Sodio">Sodio</label>
                  <input
                    type="text"
                    id="Sodio"
                    formControlName="sodium"
                    class="form-control"
                    placeholder="Sodio"
                  />
                </div>
                <div class="col-3">
                  <label for="Fosforo">Fósforo</label>
                  <input
                    type="text"
                    id="Fosforo"
                    formControlName="phosphorus"
                    class="form-control"
                    placeholder="Fósforo"
                  />
                </div>
                <div class="col-3">
                  <label for="Azufre">Azufre</label>
                  <input
                    type="text"
                    id="Azufre"
                    formControlName="sulfur"
                    class="form-control"
                    placeholder="Azufre"
                  />
                </div>

                <!-- Tercer grupo de inputs -->
                <div class="col-3">
                  <label for="Hierro">Hierro</label>
                  <input
                    type="text"
                    id="Hierro"
                    formControlName="iron"
                    class="form-control"
                    placeholder="Hierro"
                  />
                </div>
                <div class="col-3">
                  <label for="Manganeso">Manganeso</label>
                  <input
                    type="text"
                    id="Manganeso"
                    formControlName="manganese"
                    class="form-control"
                    placeholder="Manganeso"
                  />
                </div>
                <div class="col-3">
                  <label for="Cobre">Cobre</label>
                  <input
                    type="text"
                    id="Cobre"
                    formControlName="copper"
                    class="form-control"
                    placeholder="Cobre"
                  />
                </div>
                <div class="col-3">
                  <label for="Zinc">Zinc</label>
                  <input
                    type="text"
                    id="Zinc"
                    formControlName="zinc"
                    class="form-control"
                    placeholder="Zinc"
                  />
                </div>

                <!-- Cuarto grupo de inputs -->
                <div class="col-3">
                  <label for="Boro">Boro</label>
                  <input
                    type="text"
                    id="Boro"
                    formControlName="boron"
                    class="form-control"
                    placeholder="Boro"
                  />
                </div>
                <div class="col-3">
                  <label for="ph">pH</label>
                  <input
                    type="text"
                    id="ph"
                    formControlName="ph"
                    class="form-control"
                    placeholder="pH"
                  />
                </div>
                <div class="col-3">
                  <label for="Arena">Arena</label>
                  <input
                    type="text"
                    id="Arena"
                    formControlName="sand"
                    class="form-control"
                    placeholder="Arena"
                  />
                </div>
                <div class="col-3">
                  <label for="Limo">Limo</label>
                  <input
                    type="text"
                    id="Limo"
                    formControlName="silt"
                    class="form-control"
                    placeholder="Limo"
                  />
                </div>

                <!-- Quinto grupo de inputs -->
                <div class="col-3">
                  <label for="Arcilla">Arcilla</label>
                  <input
                    type="text"
                    id="Arcilla"
                    formControlName="clay"
                    class="form-control"
                    placeholder="Arcilla"
                  />
                </div>
                <div class="col-3">
                  <label for="aluminum">Aluminio</label>
                  <input
                    type="text"
                    id="aluminum"
                    formControlName="aluminum"
                    class="form-control"
                    placeholder="Aluminio"
                  />
                </div>
                <div class="col-3">
                  <label for="profundidad_cm">Profundidad</label>
                  <input
                    type="text"
                    id="profundidad_cm"
                    formControlName="profundidad_cm"
                    class="form-control"
                    placeholder="Profundidad cm"
                  />
                </div>
                <div class="col-3">
                  <label for="densidad_aparente">Densidad Ap.</label>
                  <input
                    type="text"
                    id="densidad_aparente"
                    formControlName="densidad_aparente"
                    class="form-control"
                    placeholder="Densidad aparente"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btnj"
                data-toggle="modal"
                data-target="#myModal2"
                [disabled]="!dataForm.valid"
                style="background-color: #39a900; color: #fff"
              >
                Realizar análisis
              </button>
              <button
                type="button"
                class="btn btnj"
                style="background-color: #333; color: #fff"
                data-dismiss="modal"
              >
                Cerrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ------------------------------------------------------------------------------- -->

<div class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="container my-5">
      <div class="card shadow-lg custom-modal-content">
        <div class="card-header">
          <h5 class="titulo">Resultado de Análisis de Cultivo</h5>
        </div>
        <div class="card-body">
          <div *ngIf="responseData.comparacion_nutrientes">
            <!-- Contenedor de la cuadrícula -->
            <div class="row">
              <div
                *ngFor="let nutriente of ['Fósforo', 'Azufre', 'Calcio', 'Cobre', 'Hierro', 'Magnesio', 'Manganeso', 'Potasio', 'Zinc', 'pH']"
                class="col-lg-3 col-md-4 col-sm-6 mb-4"
              >
                <!-- Card -->
                <div class="card border-success h-100">
                  <div class="card-body">
                    <h5 class="titulo"><b>{{ nutriente }}</b></h5>
                    <p>
                      <strong>Valor del análisis:</strong>
                      {{ responseData.comparacion_nutrientes[nutriente]?.valor_analisis }}
                    </p>
                    <p>
                      <strong>Valor mínimo:</strong>
                      {{ responseData.comparacion_nutrientes[nutriente]?.valor_minimo }}
                    </p>
                    <p>
                      <strong>Valor máximo:</strong>
                      {{ responseData.comparacion_nutrientes[nutriente]?.valor_maximo }}
                    </p>
                    <div *ngIf="responseData.comparacion_nutrientes[nutriente]">
                      <p
                        *ngIf="responseData.comparacion_nutrientes[nutriente].valor_analisis < responseData.comparacion_nutrientes[nutriente].valor_minimo"
                        class="text-warning"
                      >
                        Estado: Bajo - Recomendación: Aumentar niveles de {{ nutriente }}.
                      </p>
                      <p
                        *ngIf="responseData.comparacion_nutrientes[nutriente].valor_analisis > responseData.comparacion_nutrientes[nutriente].valor_maximo"
                        class="text-danger"
                      >
                        Estado: Alto - Recomendación: Reducir niveles de {{ nutriente }}.
                      </p>
                      <p
                        *ngIf="responseData.comparacion_nutrientes[nutriente].valor_analisis >= responseData.comparacion_nutrientes[nutriente].valor_minimo && responseData.comparacion_nutrientes[nutriente].valor_analisis <= responseData.comparacion_nutrientes[nutriente].valor_maximo"
                        class="text-success"
                      >
                        Estado: Óptimo - Recomendación: Los niveles de {{ nutriente }} son adecuados.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Textura del Suelo -->
            <div class="mt-4">
              <div class="card border-info">
                <div class="card-body">
                  <h5>Textura del Suelo</h5>
                  <p>{{ responseData2.soil_texture }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btnk close-btn" data-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


