<section class="content">
    <div class="container">
      <div class="row">
        <h1 class="text-primary titulo justify-content-center">
          "Descubre el arte del cultivo paso a paso"
        </h1>
        <div
          class="col-md-12 col-lg-6 order-2 order-lg-1 d-flex flex-column"
        >
          <div class="card-body">
            <img
              src="dist/img/guia.png"
              class="img-fluid animated"
              alt=""
              width="100%"
              height="300"
              style="border-radius: 20px"
            />
          </div>
        </div>
        <div
          class="col-md-12 col-lg-6 order-2 order-lg-1 d-flex flex-column"
        >
          <div class="card-body card-text">
            <h1 class="titulo text-center">
              Bienvenido a
              <span class="brand-text font-weight-light"
                ><b class="fuerte">Keitt</b><b class="text-web">Web</b></span
              >
            </h1>
            <div class="d-flex flex-column flex-md-row">
              <p class="mx-auto">
                Bienvenidos a nuestra pagina dedicada al mango, donde recomendamos
                las variedades más aptas para tu terreno, te brindamis consejos
                para su cultivo.
              </p>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-6 col-md-4">
        <div class="info-box">
          <span class="info-box-icon bg1 elevation-1"
            ><i class="fa-solid fa-tree"></i
          ></span>
          <div class="info-box-content">
            <h4 class="card-title">Total arboles sembrados</h4>
            <span class="info-box-text">1600</span>
            <span class="info-box-number">
              8.5
              <small>% espacio ahorrado</small>
            </span>
          </div>
        </div>
      </div>
  
      <div class="col-4 col-sm-6 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg2 elevation-1"
            ><i class="fa fa-shopping-basket" aria-hidden="true"></i>
          </span>
          <div class="info-box-content">
            <h4 class="card-title">Aproximacion total mangos</h4>
            <span class="info-box-text">20 T/Ha</span>
            <span class="info-box-number">33% + Productiidad</span>
          </div>
        </div>
      </div>
  
      <div class="col-4 col-sm-6 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg3 elevation-1"
            ><i class="fa fa-car" aria-hidden="true"></i>
          </span>
          <div class="info-box-content">
            <h4 class="card-title">Tiempo para cosecha</h4>
            <span class="info-box-text">6 Años</span>
            <span class="info-box-number">El tiempo es oro</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Detalles del cultivo</h1>
      <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 150px">
          <input
            type="text"
            name="table_search"
            class="form-control float-right"
            placeholder="Search"
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-default">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tipo de mango</th>
            <th>Ubicación</th>
            <th>Fecha - Hora</th>
            <th>U/Ha</th>
            <th style="width: 20px">Tipo siembra</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mango Keitt</td>
            <td>Km 7 vía la Paz</td>
            <td>27/03/2024 - 12:54 PM</td>
            <td>200</td>
            <td>
              <img
                src="dist/img/cosecha.png"
                class="img-fluid justify-content-center"
                alt=""
                width="50px"
              />
            </td>
            <td><span class="badge bg-success">Cosechado</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item"><a class="page-link" href="#">«</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">»</a></li>
          </ul>
          </div> -->
  </div>
  