.fuerte{
    color:#39a900;
    font-weight: bold;
    font-size: 40px;    
}
p{
    font-size: 25px;
}
.bg1{
    background-color: #e6e5fd;
}
.bg2{
    background-color: #fef3d5;
}
.bg3{
    background-color: #d8f7e8;
}