
<div class="container">
    <div class="row">
      <div class="col-9">
        <div class="row my-5">
            <h1 class="titulo justify-content-center text-primary">Riego por goteo</h1>
            <div class="col-md-12 col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="card-body">
                    <img src="dist/img/img11.png" class="img-fluid animated" alt="" width="100%" height="300" style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-md-12 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="card-body">
                        <div class="d-flex flex-column flex-md-row"  >
                        <p>El riego por goteo permite aplicar fertilizantes por el sistema de riego disueltos en agua, este sistema se llama fertiirrigación, los fertilizantes para este sistema son los cristalinos altamente solubles en agua, para ello se hace una solución madre concentrada que se inyecta al riego</p>
                        </div>
                        <br>
                </div>
            </div>  
        </div>
 </div>
      <div class="col-7 my-5" >
        <div class="container mt-10">
            <div class="card shadow rounded-lg p-6">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="credito-tab" data-bs-toggle="tab" href="#credito" role="tab" aria-controls="credito" aria-selected="true">Goteros Autocompensantes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="aprobacion-tab" data-bs-toggle="tab" href="#aprobacion" role="tab" aria-controls="aprobacion" aria-selected="false">Goteros Antidrentantes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="prescripcion-tab" data-bs-toggle="tab" href="#prescripcion" role="tab" aria-controls="prescripcion" aria-selected="false">Goteros Regulares</a>
                    </li>
                </ul>
                <div class="tab-content p-4" id="myTabContent">
                    <div class="tab-pane fade show active" id="credito" role="tabpanel" aria-labelledby="credito-tab">
                        <p>Estos emisores ofrecen un caudal fijo dentro de un rango más o menos amplio de presión. La utilidad de estos goteros radica en la capacidad de homogeneización del riego a lo largo de una línea de riego, ya que los últimos emisores de la línea normalmente tienen una menor presión que los primeros debido a la caída de presión por rozamiento del agua con la tubería. </p>
                        <img src="dist/img/img12.png" class="img-fluid animated" alt="" width="100%" height="300" style="border-radius: 20px;">
                    </div>
                    <div class="tab-pane fade" id="aprobacion" role="tabpanel" aria-labelledby="aprobacion-tab">
                        <p>Estos goteros se cierran automáticamente al bajar la presión en el sistema de riego, de manera que no ocurre la descarga de la tubería, lo que produce ventajas tales como evitar la entrada de aire al sistema y la bomba de riego no necesita cargar el sistema para empezar a funcionar, por tanto optimiza su uso.</p>
                        <img src="dist/img/img13.png" class="img-fluid animated" alt="" width="100%" height="300" style="border-radius: 20px;">
                    </div>
                    <div class="tab-pane fade" id="prescripcion" role="tabpanel" aria-labelledby="prescripcion-tab">
                        <p>Permiten regular el caudal con un mando mecánico. </p>
                        <img src="dist/img/img14.png" class="img-fluid animated" alt="" width="100%" height="300" style="border-radius: 20px;">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-5">
        <h1 class="titulo justify-content-center text-primary">Riego por goteo</h1>
        <div class="row my-5">
            <div class="col-md-12 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="card-body">
                    <img src="dist/img/img15.png" class="img-fluid animated" alt="" width="100%" height="300" style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-md-12 col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="card-body">
                        <div class="d-flex flex-column flex-md-row"  >
                        <p>Reduce la evaporación del agua en el suelo.</p>
                        </div>
                        <br>
                </div>
            </div>  
        </div>

        <div class="row my-5">
            <div class="col-md-12 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="card-body">
                    <img src="dist/img/img16.png" class="img-fluid animated" alt="" width="100%" height="300" style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-md-12 col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="card-body">
                        <div class="d-flex flex-column flex-md-row"  >
                        <p>Permite automatizar completamente el sistema de riego, con los consiguientes ahorros en mano de obra.
                        </p>
                        </div>
                        <br>
                </div>
            </div>  
        </div>

        <div class="row my-5">
            <div class="col-md-12 col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="card-body">
                    <img src="dist/img/img17.png" class="img-fluid animated" alt="" width="100%" height="300" style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-md-12 col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="card-body">
                        <div class="d-flex flex-column flex-md-row"  >
                        <p>permite el uso de aguas más salinas para el riego que los sistemas de irrigación por superficie y por aspersión.</p>
                        </div>
                        <br>
                </div>
            </div>  
        </div>
      </div>
    </div>
  </div>


