<section class="content">
    <div class="container-fluid">

        
    <div class="row">
        <h1 class="titulo">Aprende la mejores prácticas</h1>
        <div class="col-md-12 col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <div class="card-body">
                <img src="dist/img/fotomango.png" class="img-fluid animated" alt="" width="100%" style="border-radius: 20px;">
            </div>
        </div>
        <div class="col-md-12 col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <div class="card-body">
                <h1 class="titulo">"Desarrollo de guía interactiva web plan de cultivo de mango aplicando 
                    herramientas de agricultura de precisión"</h1>
                    <div class="d-flex flex-column flex-md-row"  >
                        <a href="#" class="btn">¡Registrate aquí!</a>
                    </div>
                    <br>
                    <div class="d-flex flex-column flex-md-row-center"  >
                       <p>¿Ya tienes cuenta?  <a href="#" >Iniciar sesion</a></p>
                    </div>
            </div>
        </div>  

    </div>
    
    </div>
    
        <div class="container mt-5">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="dist/img/arbol.jpg" class="img-fluid animated">
                  <div class="card-body">
                    <h5 class="card-title">Origen del mango</h5>
                    <p class="card-text">¿Sabias que el mango es proveniente de Asía?</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="dist/img/tecno.jpg" class="img-fluid animated">
                  <div class="card-body">
                    <h5 class="card-title">Herramientas  de agricultura de presición</h5>
                    <p class="card-text">Aprende de las tecnologias más avanzadas utilizadas en tu zonas agricolas</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="dist/img/pulpa.jpg" class="img-fluid animated">
                  <div class="card-body">
                    <h5 class="card-title">Beneficios del mango </h5>
                    <p class="card-text">Conoce todos los beneficios que te aporta el mango.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
        </div>

    </section>