<section class="content">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-secundary">Aprende la mejores prácticas</h1>
      <div
        class="col-md-12 col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <div class="card-body">
          <img
            src="dist/img/mango10.png"
            class="img-fluid animated"
            alt=""
            width="100%"
            style="border-radius: 20px"
          />
        </div>
      </div>
      <div
        class="col-md-12 col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <div class="card-body">
          <h2 class="text-primary titulo">
            Guía interactiva web plan de cultivo de mango aplicando herramientas
            de agricultura de precisión.
          </h2>
          <h2 class="text-primary titulo">"Suelo y riego"</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="dist/img/arbol.jpg" class="img-fluid animated" />
          <div class="card-body">
            <h5 class="card-title">Origen del mango</h5>
            <p class="card-text">
              ¿Sabias que el mango es proveniente de Asía?
            </p>
            <button
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="btnj btn-primary"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="dist/img/tecno.jpg" class="img-fluid animated" />
          <div class="card-body">
            <h5 class="card-title">Herramientas de agricultura de presición</h5>
            <p class="card-text">
              Aprende de las tecnologias más avanzadas utilizadas en tu zonas
              agricolas
            </p>
            <button
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              class="btnj btn-primary"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="dist/img/pulpa.jpg" class="img-fluid animated" />
          <div class="card-body">
            <h5 class="card-title">Beneficios del mango</h5>
            <p class="card-text">
              Conoce todos los beneficios que te aporta el mango.
            </p>
            <button
              data-bs-toggle="modal"
              data-bs-target="#exampleModal2"
              class="btnj btn-primary"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Origen del mango</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <iframe
          width="848"
          height="480"
          src="https://www.youtube.com/embed/wvMXJyEX-64"
          title="(Historia y origen del mango)"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Herramientas de agricultura de presición
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <section>
          <h1>Agricultura de Precisión en los Cultivos de Mango</h1>
          <p>
            La <strong>Agricultura de Precisión (ADP)</strong> optimiza la
            producción aplicando el tratamiento adecuado, en el lugar adecuado y
            en el momento adecuado. Para ello, se emplean tecnologías que
            detectan la diversidad del campo, permitiendo gestionar el cultivo
            de forma diferenciada.
          </p>

          <iframe
            width="654"
            height="480"
            src="https://www.youtube.com/embed/3CHz9Ul6RFQ"
            title="¿Qué es Agricultura de Precisión?"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Beneficios del mango</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <iframe
          width="853"
          height="480"
          src="https://www.youtube.com/embed/chFHq8rHFG8"
          title="¿Los conocías? Estos son los beneficios de comer mango"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
