.card {
    width: 18rem;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }

  .btnj{
    background-color: #39a900;
    margin: 0 auto;
    color: #fff;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
  }
  .regis{
    margin: 0 auto;
  }
  h5{
    font-weight: bold;
  }
  .titulo{
    text-align: center;
  }
  p{
    text-align: justify;
}