<div class="container">
  <h1 class="titulo justify-content-center text-secundary">Tipos de siembra</h1>
  <div class="row my-5">
    <div class="col-4 ">
      <h3 class="text-secundary">Siembra Rectangular</h3>
      <p>Este método facilita el paso de maquinaria agrícola para labores de cultivo, fumigación y cosecha, permitiendo también un mejor manejo del riego y la fertilización.</p>
      <img src="dist/img/img6.png" alt="">
    </div>
    <div class="col-4 ">
      <h3 class="text-secundary">Siembra Cuadrada</h3>
      <p>Este método permite un crecimiento uniforme y acceso equitativo a luz y nutrientes, facilitando también el manejo de las malezas y el riego.</p>
      <img src="dist/img/img7.png" alt="">
    </div>
    <div class="col-4 ">
      <h3 class="text-secundary">Siembra Tresbolillo</h3>
      <p>Este método permite una mayor densidad de plantación y un mejor aprovechamiento del espacio, resultando en una mayor producción por hectárea y mejor circulación de aire entre los árboles.</p>
      <img src="dist/img/img8.png" alt="">
    </div>

    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <div class="col-3 ">
      <h3 class="text-secundary">Siembra Quinto al Centro</h3>
      <p>Este método incrementa la densidad de plantación sin alterar significativamente el manejo de la plantación, lo que puede resultar en un aumento de la producción en áreas limitadas.
          Después de un período, generalmente de 3 a 5 años, el árbol central se retira para proporcionar más espacio y recursos a los árboles restantes.</p>
    </div>
    <div class="col-3 ">
      <p>Primeros años</p>
      <img src="dist/img/img8.png" alt="">
    </div>
    <div class="col-3 ">
      <p>3 a 5 años</p>
      <img src="dist/img/img9.png" alt="">
    </div>
    <div class="col-3 ">
      <h3 class="text-secundary">Recomendaciones</h3>
      <p>Dron para mapeo de terreno</p>
      <img src="dist/img/img10.png" alt=""> 
    </div>
  </div>
</div>